.more-screen .icon-row {
    justify-content: flex-start;
    /* multi line / single line */
    flex-wrap: wrap;
    margin-top: 35px;
}

.more-screen .icon-row__icon {
    width: 25%;
    margin-bottom: 25px;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
}

.more-screen .icon-row__icon:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.more-suggestions {
    padding-top: 35px;
    border-top: var(--main-border);
}

.more-suggestions__title {
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.more-suggestions__icon-image {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--yellow);
    border-radius: 10px;
}

.more-suggestions__icon-image i {
    font-size: 32px;
    color: white;
}
